<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ButtonSheet7_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{24,11},{168,87}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{168,87}</string>
        </dict>
        <key>ButtonSheet7_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{271,26},{46,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,37}</string>
        </dict>
        <key>ButtonSheet7_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{227,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet7_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{335,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet7_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{379,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet7_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{222,80},{19,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{19,17}</string>
        </dict>
        <key>ButtonSheet7_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{297,80},{19,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{19,17}</string>
        </dict>
        <key>ButtonSheet7_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,115},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet7_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{62,115},{45,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{45,45}</string>
        </dict>
        <key>ButtonSheet7_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{112,115},{45,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{45,45}</string>
        </dict>
        <key>ButtonSheet7_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,115},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet7_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,116},{41,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,33}</string>
        </dict>
        <key>ButtonSheet7_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{271,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet7_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{334,116},{41,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,33}</string>
        </dict>
        <key>ButtonSheet7_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{379,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet7_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,164},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet7_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{62,164},{45,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{45,45}</string>
        </dict>
        <key>ButtonSheet7_17.png</key>
        <dict>
            <key>frame</key>
            <string>{{112,164},{45,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{45,45}</string>
        </dict>
        <key>ButtonSheet7_18.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,164},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet7_19.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet7_20.png</key>
        <dict>
            <key>frame</key>
            <string>{{259,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet7_21.png</key>
        <dict>
            <key>frame</key>
            <string>{{291,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet7_22.png</key>
        <dict>
            <key>frame</key>
            <string>{{324,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet7_23.png</key>
        <dict>
            <key>frame</key>
            <string>{{357,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet7_24.png</key>
        <dict>
            <key>frame</key>
            <string>{{389,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet7_25.png</key>
        <dict>
            <key>frame</key>
            <string>{{115,222},{135,82}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{135,82}</string>
        </dict>
        <key>ButtonSheet7_26.png</key>
        <dict>
            <key>frame</key>
            <string>{{14,232},{43,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{43,44}</string>
        </dict>
        <key>ButtonSheet7_27.png</key>
        <dict>
            <key>frame</key>
            <string>{{64,232},{42,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{42,44}</string>
        </dict>
        <key>ButtonSheet7_28.png</key>
        <dict>
            <key>frame</key>
            <string>{{269,235},{24,21}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{24,21}</string>
        </dict>
        <key>ButtonSheet7_29.png</key>
        <dict>
            <key>frame</key>
            <string>{{301,235},{31,51}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,51}</string>
        </dict>
        <key>ButtonSheet7_30.png</key>
        <dict>
            <key>frame</key>
            <string>{{340,236},{75,51}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{75,51}</string>
        </dict>
        <key>ButtonSheet7_31.png</key>
        <dict>
            <key>frame</key>
            <string>{{269,262},{24,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{24,24}</string>
        </dict>
        <key>ButtonSheet7_32.png</key>
        <dict>
            <key>frame</key>
            <string>{{13,304},{238,66}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{238,66}</string>
        </dict>
        <key>ButtonSheet7_33.png</key>
        <dict>
            <key>frame</key>
            <string>{{268,317},{151,52}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{151,52}</string>
        </dict>
        <key>ButtonSheet7_34.png</key>
        <dict>
            <key>frame</key>
            <string>{{302,374},{114,67}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{114,67}</string>
        </dict>
        <key>ButtonSheet7_35.png</key>
        <dict>
            <key>frame</key>
            <string>{{13,377},{60,31}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{60,31}</string>
        </dict>
        <key>ButtonSheet7_36.png</key>
        <dict>
            <key>frame</key>
            <string>{{198,380},{29,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,28}</string>
        </dict>
        <key>ButtonSheet7_37.png</key>
        <dict>
            <key>frame</key>
            <string>{{232,380},{29,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,28}</string>
        </dict>
        <key>ButtonSheet7_38.png</key>
        <dict>
            <key>frame</key>
            <string>{{266,380},{29,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,28}</string>
        </dict>
        <key>ButtonSheet7_39.png</key>
        <dict>
            <key>frame</key>
            <string>{{76,381},{113,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{113,17}</string>
        </dict>
        <key>ButtonSheet7_40.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,419},{61,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,58}</string>
        </dict>
        <key>ButtonSheet7_41.png</key>
        <dict>
            <key>frame</key>
            <string>{{83,419},{68,70}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{68,70}</string>
        </dict>
        <key>ButtonSheet7_42.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,419},{61,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,69}</string>
        </dict>
        <key>ButtonSheet7_43.png</key>
        <dict>
            <key>frame</key>
            <string>{{236,419},{61,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,58}</string>
        </dict>
        <key>ButtonSheet7_44.png</key>
        <dict>
            <key>frame</key>
            <string>{{328,462},{94,104}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,104}</string>
        </dict>
        <key>ButtonSheet7_45.png</key>
        <dict>
            <key>frame</key>
            <string>{{280,497},{20,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{20,19}</string>
        </dict>
        <key>ButtonSheet7_46.png</key>
        <dict>
            <key>frame</key>
            <string>{{15,522},{16,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{16,17}</string>
        </dict>
        <key>ButtonSheet7_47.png</key>
        <dict>
            <key>frame</key>
            <string>{{75,527},{92,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{92,36}</string>
        </dict>
        <key>ButtonSheet7_48.png</key>
        <dict>
            <key>frame</key>
            <string>{{184,527},{96,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{96,36}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ButtonSheet7.png</string>
        <key>size</key>
        <string>{432,578}</string>
        <key>textureFileName</key>
        <string>ButtonSheet7.png</string>
    </dict>
</dict>
</plist>