<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ButtonSheet0_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{24,11},{168,87}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{168,87}</string>
        </dict>
        <key>ButtonSheet0_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet0_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{271,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet0_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{334,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet0_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{379,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet0_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,115},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet0_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{62,115},{45,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{45,45}</string>
        </dict>
        <key>ButtonSheet0_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{111,115},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet0_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,115},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet0_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet0_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{271,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet0_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{334,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet0_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{379,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet0_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,164},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet0_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{62,164},{45,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{45,45}</string>
        </dict>
        <key>ButtonSheet0_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{111,164},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet0_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,164},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet0_17.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet0_18.png</key>
        <dict>
            <key>frame</key>
            <string>{{259,181},{29,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,35}</string>
        </dict>
        <key>ButtonSheet0_19.png</key>
        <dict>
            <key>frame</key>
            <string>{{291,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet0_20.png</key>
        <dict>
            <key>frame</key>
            <string>{{324,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet0_21.png</key>
        <dict>
            <key>frame</key>
            <string>{{357,181},{29,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,35}</string>
        </dict>
        <key>ButtonSheet0_22.png</key>
        <dict>
            <key>frame</key>
            <string>{{389,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet0_23.png</key>
        <dict>
            <key>frame</key>
            <string>{{14,232},{43,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{43,44}</string>
        </dict>
        <key>ButtonSheet0_24.png</key>
        <dict>
            <key>frame</key>
            <string>{{64,232},{42,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{42,44}</string>
        </dict>
        <key>ButtonSheet0_25.png</key>
        <dict>
            <key>frame</key>
            <string>{{268,235},{25,21}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{25,21}</string>
        </dict>
        <key>ButtonSheet0_26.png</key>
        <dict>
            <key>frame</key>
            <string>{{301,235},{31,51}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,51}</string>
        </dict>
        <key>ButtonSheet0_27.png</key>
        <dict>
            <key>frame</key>
            <string>{{340,236},{75,50}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{75,50}</string>
        </dict>
        <key>ButtonSheet0_28.png</key>
        <dict>
            <key>frame</key>
            <string>{{115,250},{135,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{135,39}</string>
        </dict>
        <key>ButtonSheet0_29.png</key>
        <dict>
            <key>frame</key>
            <string>{{268,262},{25,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{25,24}</string>
        </dict>
        <key>ButtonSheet0_30.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,304},{239,66}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{239,66}</string>
        </dict>
        <key>ButtonSheet0_31.png</key>
        <dict>
            <key>frame</key>
            <string>{{268,330},{151,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{151,39}</string>
        </dict>
        <key>ButtonSheet0_32.png</key>
        <dict>
            <key>frame</key>
            <string>{{302,373},{114,68}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{114,68}</string>
        </dict>
        <key>ButtonSheet0_33.png</key>
        <dict>
            <key>frame</key>
            <string>{{75,381},{115,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{115,17}</string>
        </dict>
        <key>ButtonSheet0_34.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,419},{61,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,58}</string>
        </dict>
        <key>ButtonSheet0_35.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,419},{61,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,58}</string>
        </dict>
        <key>ButtonSheet0_36.png</key>
        <dict>
            <key>frame</key>
            <string>{{236,419},{61,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,58}</string>
        </dict>
        <key>ButtonSheet0_37.png</key>
        <dict>
            <key>frame</key>
            <string>{{87,420},{60,57}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{60,57}</string>
        </dict>
        <key>ButtonSheet0_38.png</key>
        <dict>
            <key>frame</key>
            <string>{{328,462},{94,105}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,105}</string>
        </dict>
        <key>ButtonSheet0_39.png</key>
        <dict>
            <key>frame</key>
            <string>{{213,497},{16,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{16,19}</string>
        </dict>
        <key>ButtonSheet0_40.png</key>
        <dict>
            <key>frame</key>
            <string>{{279,497},{21,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{21,19}</string>
        </dict>
        <key>ButtonSheet0_41.png</key>
        <dict>
            <key>frame</key>
            <string>{{15,522},{16,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{16,17}</string>
        </dict>
        <key>ButtonSheet0_42.png</key>
        <dict>
            <key>frame</key>
            <string>{{75,527},{92,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{92,36}</string>
        </dict>
        <key>ButtonSheet0_43.png</key>
        <dict>
            <key>frame</key>
            <string>{{184,527},{96,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{96,35}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ButtonSheet0.png</string>
        <key>size</key>
        <string>{432,578}</string>
        <key>textureFileName</key>
        <string>ButtonSheet0.png</string>
    </dict>
</dict>
</plist>