<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ButtonSheet4_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,0},{895,1200}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{895,1200}</string>
        </dict>
        <key>ButtonSheet4_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{448,0},{18,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{18,17}</string>
        </dict>
        <key>ButtonSheet4_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{484,0},{19,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{19,17}</string>
        </dict>
        <key>ButtonSheet4_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{522,0},{18,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{18,17}</string>
        </dict>
        <key>ButtonSheet4_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{655,0},{18,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{18,17}</string>
        </dict>
        <key>ButtonSheet4_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{767,0},{18,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{18,17}</string>
        </dict>
        <key>ButtonSheet4_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{806,212},{17,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{17,19}</string>
        </dict>
        <key>ButtonSheet4_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{313,216},{22,15}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{22,15}</string>
        </dict>
        <key>ButtonSheet4_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{583,449},{22,18}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{22,18}</string>
        </dict>
        <key>ButtonSheet4_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{605,467},{23,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{23,19}</string>
        </dict>
        <key>ButtonSheet4_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{155,968},{23,50}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{23,50}</string>
        </dict>
        <key>ButtonSheet4_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{149,1014},{51,66}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{51,66}</string>
        </dict>
        <key>ButtonSheet4_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,1042},{156,158}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{156,158}</string>
        </dict>
        <key>ButtonSheet4_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{313,1159},{22,21}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{22,21}</string>
        </dict>
        <key>ButtonSheet4_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{155,1180},{23,20}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{23,20}</string>
        </dict>
        <key>ButtonSheet4_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{290,1180},{23,20}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{23,20}</string>
        </dict>
        <key>ButtonSheet4_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{381,1180},{22,20}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{22,20}</string>
        </dict>
        <key>ButtonSheet4_17.png</key>
        <dict>
            <key>frame</key>
            <string>{{560,1180},{23,20}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{23,20}</string>
        </dict>
        <key>ButtonSheet4_18.png</key>
        <dict>
            <key>frame</key>
            <string>{{651,1180},{22,20}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{22,20}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ButtonSheet4.png</string>
        <key>size</key>
        <string>{895,1200}</string>
        <key>textureFileName</key>
        <string>ButtonSheet4.png</string>
    </dict>
</dict>
</plist>