<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ButtonSheet6_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{24,10},{168,88}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{168,88}</string>
        </dict>
        <key>ButtonSheet6_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,30},{41,34}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,34}</string>
        </dict>
        <key>ButtonSheet6_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{270,30},{42,34}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{42,34}</string>
        </dict>
        <key>ButtonSheet6_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{334,30},{41,34}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,34}</string>
        </dict>
        <key>ButtonSheet6_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{379,30},{41,34}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,34}</string>
        </dict>
        <key>ButtonSheet6_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{324,101},{102,49}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{102,49}</string>
        </dict>
        <key>ButtonSheet6_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,115},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet6_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{61,115},{47,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{47,45}</string>
        </dict>
        <key>ButtonSheet6_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{111,115},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet6_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,115},{47,46}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{47,46}</string>
        </dict>
        <key>ButtonSheet6_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,115},{41,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,35}</string>
        </dict>
        <key>ButtonSheet6_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{270,115},{42,34}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{42,34}</string>
        </dict>
        <key>ButtonSheet6_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{334,115},{41,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,35}</string>
        </dict>
        <key>ButtonSheet6_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,164},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet6_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{61,164},{47,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{47,45}</string>
        </dict>
        <key>ButtonSheet6_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{111,164},{46,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,45}</string>
        </dict>
        <key>ButtonSheet6_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,164},{47,45}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{47,45}</string>
        </dict>
        <key>ButtonSheet6_17.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet6_18.png</key>
        <dict>
            <key>frame</key>
            <string>{{258,181},{31,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,35}</string>
        </dict>
        <key>ButtonSheet6_19.png</key>
        <dict>
            <key>frame</key>
            <string>{{291,181},{31,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,35}</string>
        </dict>
        <key>ButtonSheet6_20.png</key>
        <dict>
            <key>frame</key>
            <string>{{324,181},{30,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,35}</string>
        </dict>
        <key>ButtonSheet6_21.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,181},{31,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,35}</string>
        </dict>
        <key>ButtonSheet6_22.png</key>
        <dict>
            <key>frame</key>
            <string>{{389,181},{31,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,35}</string>
        </dict>
        <key>ButtonSheet6_23.png</key>
        <dict>
            <key>frame</key>
            <string>{{13,232},{45,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{45,44}</string>
        </dict>
        <key>ButtonSheet6_24.png</key>
        <dict>
            <key>frame</key>
            <string>{{63,232},{44,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{44,44}</string>
        </dict>
        <key>ButtonSheet6_25.png</key>
        <dict>
            <key>frame</key>
            <string>{{268,235},{25,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{25,22}</string>
        </dict>
        <key>ButtonSheet6_26.png</key>
        <dict>
            <key>frame</key>
            <string>{{301,235},{32,51}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{32,51}</string>
        </dict>
        <key>ButtonSheet6_27.png</key>
        <dict>
            <key>frame</key>
            <string>{{339,235},{76,51}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{76,51}</string>
        </dict>
        <key>ButtonSheet6_28.png</key>
        <dict>
            <key>frame</key>
            <string>{{114,236},{136,53}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{136,53}</string>
        </dict>
        <key>ButtonSheet6_29.png</key>
        <dict>
            <key>frame</key>
            <string>{{268,261},{25,25}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{25,25}</string>
        </dict>
        <key>ButtonSheet6_30.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,304},{240,67}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{240,67}</string>
        </dict>
        <key>ButtonSheet6_31.png</key>
        <dict>
            <key>frame</key>
            <string>{{268,329},{152,40}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{152,40}</string>
        </dict>
        <key>ButtonSheet6_32.png</key>
        <dict>
            <key>frame</key>
            <string>{{301,373},{116,68}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{116,68}</string>
        </dict>
        <key>ButtonSheet6_33.png</key>
        <dict>
            <key>frame</key>
            <string>{{75,381},{115,18}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{115,18}</string>
        </dict>
        <key>ButtonSheet6_34.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,419},{62,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{62,69}</string>
        </dict>
        <key>ButtonSheet6_35.png</key>
        <dict>
            <key>frame</key>
            <string>{{82,419},{69,70}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{69,70}</string>
        </dict>
        <key>ButtonSheet6_36.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,419},{62,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{62,69}</string>
        </dict>
        <key>ButtonSheet6_37.png</key>
        <dict>
            <key>frame</key>
            <string>{{235,419},{62,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{62,69}</string>
        </dict>
        <key>ButtonSheet6_38.png</key>
        <dict>
            <key>frame</key>
            <string>{{327,461},{96,106}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{96,106}</string>
        </dict>
        <key>ButtonSheet6_39.png</key>
        <dict>
            <key>frame</key>
            <string>{{213,497},{16,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{16,19}</string>
        </dict>
        <key>ButtonSheet6_40.png</key>
        <dict>
            <key>frame</key>
            <string>{{279,497},{22,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{22,19}</string>
        </dict>
        <key>ButtonSheet6_41.png</key>
        <dict>
            <key>frame</key>
            <string>{{14,521},{17,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{17,19}</string>
        </dict>
        <key>ButtonSheet6_42.png</key>
        <dict>
            <key>frame</key>
            <string>{{74,527},{93,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{93,36}</string>
        </dict>
        <key>ButtonSheet6_43.png</key>
        <dict>
            <key>frame</key>
            <string>{{183,527},{98,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{98,36}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ButtonSheet6.png</string>
        <key>size</key>
        <string>{432,578}</string>
        <key>textureFileName</key>
        <string>ButtonSheet6.png</string>
    </dict>
</dict>
</plist>