<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ButtonSheet2_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{19,22},{419,189}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{419,189}</string>
        </dict>
        <key>ButtonSheet2_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{512,30},{88,27}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{88,27}</string>
        </dict>
        <key>ButtonSheet2_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{740,30},{81,27}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{81,27}</string>
        </dict>
        <key>ButtonSheet2_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{469,60},{84,74}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{84,74}</string>
        </dict>
        <key>ButtonSheet2_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{561,61},{84,74}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{84,74}</string>
        </dict>
        <key>ButtonSheet2_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{785,61},{83,74}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,74}</string>
        </dict>
        <key>ButtonSheet2_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{693,62},{83,73}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,73}</string>
        </dict>
        <key>ButtonSheet2_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{491,135},{38,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{38,26}</string>
        </dict>
        <key>ButtonSheet2_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{803,135},{49,27}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{49,27}</string>
        </dict>
        <key>ButtonSheet2_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{579,136},{48,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{48,26}</string>
        </dict>
        <key>ButtonSheet2_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{714,136},{38,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{38,26}</string>
        </dict>
        <key>ButtonSheet2_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{489,210},{133,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{133,28}</string>
        </dict>
        <key>ButtonSheet2_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{674,210},{207,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{207,28}</string>
        </dict>
        <key>ButtonSheet2_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{334,239},{95,94}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{95,94}</string>
        </dict>
        <key>ButtonSheet2_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{23,240},{96,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{96,93}</string>
        </dict>
        <key>ButtonSheet2_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{128,240},{94,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,93}</string>
        </dict>
        <key>ButtonSheet2_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{231,240},{95,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{95,93}</string>
        </dict>
        <key>ButtonSheet2_17.png</key>
        <dict>
            <key>frame</key>
            <string>{{561,240},{84,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{84,72}</string>
        </dict>
        <key>ButtonSheet2_18.png</key>
        <dict>
            <key>frame</key>
            <string>{{693,240},{84,73}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{84,73}</string>
        </dict>
        <key>ButtonSheet2_19.png</key>
        <dict>
            <key>frame</key>
            <string>{{785,240},{84,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{84,72}</string>
        </dict>
        <key>ButtonSheet2_20.png</key>
        <dict>
            <key>frame</key>
            <string>{{469,241},{83,71}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,71}</string>
        </dict>
        <key>ButtonSheet2_21.png</key>
        <dict>
            <key>frame</key>
            <string>{{579,313},{49,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{49,26}</string>
        </dict>
        <key>ButtonSheet2_22.png</key>
        <dict>
            <key>frame</key>
            <string>{{491,314},{37,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{37,26}</string>
        </dict>
        <key>ButtonSheet2_23.png</key>
        <dict>
            <key>frame</key>
            <string>{{714,314},{38,25}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{38,25}</string>
        </dict>
        <key>ButtonSheet2_24.png</key>
        <dict>
            <key>frame</key>
            <string>{{803,314},{49,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{49,26}</string>
        </dict>
        <key>ButtonSheet2_25.png</key>
        <dict>
            <key>frame</key>
            <string>{{127,334},{96,99}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{96,99}</string>
        </dict>
        <key>ButtonSheet2_26.png</key>
        <dict>
            <key>frame</key>
            <string>{{231,340},{97,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{97,93}</string>
        </dict>
        <key>ButtonSheet2_27.png</key>
        <dict>
            <key>frame</key>
            <string>{{23,341},{96,92}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{96,92}</string>
        </dict>
        <key>ButtonSheet2_28.png</key>
        <dict>
            <key>frame</key>
            <string>{{334,341},{94,92}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,92}</string>
        </dict>
        <key>ButtonSheet2_29.png</key>
        <dict>
            <key>frame</key>
            <string>{{494,348},{119,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{119,24}</string>
        </dict>
        <key>ButtonSheet2_30.png</key>
        <dict>
            <key>frame</key>
            <string>{{468,376},{64,74}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{64,74}</string>
        </dict>
        <key>ButtonSheet2_31.png</key>
        <dict>
            <key>frame</key>
            <string>{{535,376},{64,74}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{64,74}</string>
        </dict>
        <key>ButtonSheet2_32.png</key>
        <dict>
            <key>frame</key>
            <string>{{671,376},{62,74}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{62,74}</string>
        </dict>
        <key>ButtonSheet2_33.png</key>
        <dict>
            <key>frame</key>
            <string>{{602,377},{65,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{65,72}</string>
        </dict>
        <key>ButtonSheet2_34.png</key>
        <dict>
            <key>frame</key>
            <string>{{738,377},{62,73}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{62,73}</string>
        </dict>
        <key>ButtonSheet2_35.png</key>
        <dict>
            <key>frame</key>
            <string>{{806,377},{64,73}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{64,73}</string>
        </dict>
        <key>ButtonSheet2_36.png</key>
        <dict>
            <key>frame</key>
            <string>{{131,481},{90,94}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{90,94}</string>
        </dict>
        <key>ButtonSheet2_37.png</key>
        <dict>
            <key>frame</key>
            <string>{{28,483},{91,92}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{91,92}</string>
        </dict>
        <key>ButtonSheet2_38.png</key>
        <dict>
            <key>frame</key>
            <string>{{420,488},{57,25}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{57,25}</string>
        </dict>
        <key>ButtonSheet2_39.png</key>
        <dict>
            <key>frame</key>
            <string>{{480,488},{46,25}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,25}</string>
        </dict>
        <key>ButtonSheet2_40.png</key>
        <dict>
            <key>frame</key>
            <string>{{703,488},{157,106}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{157,106}</string>
        </dict>
        <key>ButtonSheet2_41.png</key>
        <dict>
            <key>frame</key>
            <string>{{555,489},{51,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{51,44}</string>
        </dict>
        <key>ButtonSheet2_42.png</key>
        <dict>
            <key>frame</key>
            <string>{{625,489},{65,106}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{65,106}</string>
        </dict>
        <key>ButtonSheet2_43.png</key>
        <dict>
            <key>frame</key>
            <string>{{240,490},{46,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,26}</string>
        </dict>
        <key>ButtonSheet2_44.png</key>
        <dict>
            <key>frame</key>
            <string>{{288,490},{106,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{106,26}</string>
        </dict>
        <key>ButtonSheet2_45.png</key>
        <dict>
            <key>frame</key>
            <string>{{413,517},{58,60}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{58,60}</string>
        </dict>
        <key>ButtonSheet2_46.png</key>
        <dict>
            <key>frame</key>
            <string>{{475,518},{57,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{57,58}</string>
        </dict>
        <key>ButtonSheet2_47.png</key>
        <dict>
            <key>frame</key>
            <string>{{236,519},{161,60}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{161,60}</string>
        </dict>
        <key>ButtonSheet2_48.png</key>
        <dict>
            <key>frame</key>
            <string>{{554,543},{55,52}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{55,52}</string>
        </dict>
        <key>ButtonSheet2_49.png</key>
        <dict>
            <key>frame</key>
            <string>{{36,577},{78,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{78,26}</string>
        </dict>
        <key>ButtonSheet2_50.png</key>
        <dict>
            <key>frame</key>
            <string>{{132,577},{91,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{91,26}</string>
        </dict>
        <key>ButtonSheet2_51.png</key>
        <dict>
            <key>frame</key>
            <string>{{424,580},{35,23}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{35,23}</string>
        </dict>
        <key>ButtonSheet2_52.png</key>
        <dict>
            <key>frame</key>
            <string>{{479,580},{45,23}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{45,23}</string>
        </dict>
        <key>ButtonSheet2_53.png</key>
        <dict>
            <key>frame</key>
            <string>{{712,600},{64,27}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{64,27}</string>
        </dict>
        <key>ButtonSheet2_54.png</key>
        <dict>
            <key>frame</key>
            <string>{{595,601},{53,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{53,26}</string>
        </dict>
        <key>ButtonSheet2_55.png</key>
        <dict>
            <key>frame</key>
            <string>{{779,601},{57,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{57,26}</string>
        </dict>
        <key>ButtonSheet2_56.png</key>
        <dict>
            <key>frame</key>
            <string>{{25,629},{496,145}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{496,145}</string>
        </dict>
        <key>ButtonSheet2_57.png</key>
        <dict>
            <key>frame</key>
            <string>{{556,656},{313,264}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{313,264}</string>
        </dict>
        <key>ButtonSheet2_58.png</key>
        <dict>
            <key>frame</key>
            <string>{{29,784},{233,77}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{233,77}</string>
        </dict>
        <key>ButtonSheet2_59.png</key>
        <dict>
            <key>frame</key>
            <string>{{286,784},{234,78}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{234,78}</string>
        </dict>
        <key>ButtonSheet2_60.png</key>
        <dict>
            <key>frame</key>
            <string>{{169,870},{129,143}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{129,143}</string>
        </dict>
        <key>ButtonSheet2_61.png</key>
        <dict>
            <key>frame</key>
            <string>{{314,870},{129,143}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{129,143}</string>
        </dict>
        <key>ButtonSheet2_62.png</key>
        <dict>
            <key>frame</key>
            <string>{{460,870},{129,143}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{129,143}</string>
        </dict>
        <key>ButtonSheet2_63.png</key>
        <dict>
            <key>frame</key>
            <string>{{24,871},{129,142}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{129,142}</string>
        </dict>
        <key>ButtonSheet2_64.png</key>
        <dict>
            <key>frame</key>
            <string>{{630,928},{105,121}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{105,121}</string>
        </dict>
        <key>ButtonSheet2_65.png</key>
        <dict>
            <key>frame</key>
            <string>{{765,928},{105,121}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{105,121}</string>
        </dict>
        <key>ButtonSheet2_66.png</key>
        <dict>
            <key>frame</key>
            <string>{{488,1028},{31,47}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,47}</string>
        </dict>
        <key>ButtonSheet2_67.png</key>
        <dict>
            <key>frame</key>
            <string>{{579,1030},{44,41}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{44,41}</string>
        </dict>
        <key>ButtonSheet2_68.png</key>
        <dict>
            <key>frame</key>
            <string>{{313,1031},{30,40}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,40}</string>
        </dict>
        <key>ButtonSheet2_69.png</key>
        <dict>
            <key>frame</key>
            <string>{{30,1032},{32,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{32,39}</string>
        </dict>
        <key>ButtonSheet2_70.png</key>
        <dict>
            <key>frame</key>
            <string>{{110,1032},{26,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{26,39}</string>
        </dict>
        <key>ButtonSheet2_71.png</key>
        <dict>
            <key>frame</key>
            <string>{{188,1032},{31,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,39}</string>
        </dict>
        <key>ButtonSheet2_72.png</key>
        <dict>
            <key>frame</key>
            <string>{{230,1032},{29,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,39}</string>
        </dict>
        <key>ButtonSheet2_73.png</key>
        <dict>
            <key>frame</key>
            <string>{{273,1032},{27,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{27,39}</string>
        </dict>
        <key>ButtonSheet2_74.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,1032},{26,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{26,39}</string>
        </dict>
        <key>ButtonSheet2_75.png</key>
        <dict>
            <key>frame</key>
            <string>{{395,1032},{28,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{28,39}</string>
        </dict>
        <key>ButtonSheet2_76.png</key>
        <dict>
            <key>frame</key>
            <string>{{441,1032},{36,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{36,39}</string>
        </dict>
        <key>ButtonSheet2_77.png</key>
        <dict>
            <key>frame</key>
            <string>{{146,1033},{32,38}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{32,38}</string>
        </dict>
        <key>ButtonSheet2_78.png</key>
        <dict>
            <key>frame</key>
            <string>{{765,1053},{106,102}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{106,102}</string>
        </dict>
        <key>ButtonSheet2_79.png</key>
        <dict>
            <key>frame</key>
            <string>{{612,1055},{144,124}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{144,124}</string>
        </dict>
        <key>ButtonSheet2_80.png</key>
        <dict>
            <key>frame</key>
            <string>{{544,1056},{16,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{16,22}</string>
        </dict>
        <key>ButtonSheet2_81.png</key>
        <dict>
            <key>frame</key>
            <string>{{29,1083},{36,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{36,37}</string>
        </dict>
        <key>ButtonSheet2_82.png</key>
        <dict>
            <key>frame</key>
            <string>{{95,1083},{30,40}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,40}</string>
        </dict>
        <key>ButtonSheet2_83.png</key>
        <dict>
            <key>frame</key>
            <string>{{154,1094},{192,79}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{192,79}</string>
        </dict>
        <key>ButtonSheet2_84.png</key>
        <dict>
            <key>frame</key>
            <string>{{378,1094},{203,79}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{203,79}</string>
        </dict>
        <key>ButtonSheet2_85.png</key>
        <dict>
            <key>frame</key>
            <string>{{31,1131},{32,41}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{32,41}</string>
        </dict>
        <key>ButtonSheet2_86.png</key>
        <dict>
            <key>frame</key>
            <string>{{92,1132},{35,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{35,39}</string>
        </dict>
        <key>ButtonSheet2_87.png</key>
        <dict>
            <key>frame</key>
            <string>{{792,1153},{55,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{55,24}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ButtonSheet2.png</string>
        <key>size</key>
        <string>{895,1200}</string>
        <key>textureFileName</key>
        <string>ButtonSheet2.png</string>
    </dict>
</dict>
</plist>