<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ButtonSheet10_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{420,4},{129,96}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{129,96}</string>
        </dict>
        <key>ButtonSheet10_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{586,10},{75,82}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{75,82}</string>
        </dict>
        <key>ButtonSheet10_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{227,14},{108,75}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{108,75}</string>
        </dict>
        <key>ButtonSheet10_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{6,19},{208,68}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{208,68}</string>
        </dict>
        <key>ButtonSheet10_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{368,97},{150,106}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{150,106}</string>
        </dict>
        <key>ButtonSheet10_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{583,108},{73,77}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{73,77}</string>
        </dict>
        <key>ButtonSheet10_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{159,114},{172,88}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{172,88}</string>
        </dict>
        <key>ButtonSheet10_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{6,116},{127,86}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{127,86}</string>
        </dict>
        <key>ButtonSheet10_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{570,197},{92,82}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{92,82}</string>
        </dict>
        <key>ButtonSheet10_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{18,218},{72,75}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{72,75}</string>
        </dict>
        <key>ButtonSheet10_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{385,220},{142,70}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{142,70}</string>
        </dict>
        <key>ButtonSheet10_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{180,222},{94,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,69}</string>
        </dict>
        <key>ButtonSheet10_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{573,285},{72,81}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{72,81}</string>
        </dict>
        <key>ButtonSheet10_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{406,300},{100,66}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{100,66}</string>
        </dict>
        <key>ButtonSheet10_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{17,301},{66,65}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{66,65}</string>
        </dict>
        <key>ButtonSheet10_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{183,302},{86,64}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{86,64}</string>
        </dict>
        <key>ButtonSheet10_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{109,303},{60,61}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{60,61}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ButtonSheet10.png</string>
        <key>size</key>
        <string>{677,369}</string>
        <key>textureFileName</key>
        <string>ButtonSheet10.png</string>
    </dict>
</dict>
</plist>