<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ButtonSheet8_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{24,11},{168,87}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{168,87}</string>
        </dict>
        <key>ButtonSheet8_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,30},{41,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,33}</string>
        </dict>
        <key>ButtonSheet8_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{271,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet8_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{335,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet8_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{379,30},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet8_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{222,80},{19,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{19,17}</string>
        </dict>
        <key>ButtonSheet8_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{297,80},{19,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{19,17}</string>
        </dict>
        <key>ButtonSheet8_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{11,114},{48,96}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{48,96}</string>
        </dict>
        <key>ButtonSheet8_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{61,114},{47,96}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{47,96}</string>
        </dict>
        <key>ButtonSheet8_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{111,114},{47,96}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{47,96}</string>
        </dict>
        <key>ButtonSheet8_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,114},{47,96}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{47,96}</string>
        </dict>
        <key>ButtonSheet8_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{226,116},{41,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{41,33}</string>
        </dict>
        <key>ButtonSheet8_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{271,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet8_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{335,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet8_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{379,116},{40,33}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{40,33}</string>
        </dict>
        <key>ButtonSheet8_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{277,171},{46,46}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,46}</string>
        </dict>
        <key>ButtonSheet8_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{224,172},{46,41}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{46,41}</string>
        </dict>
        <key>ButtonSheet8_17.png</key>
        <dict>
            <key>frame</key>
            <string>{{333,173},{38,41}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{38,41}</string>
        </dict>
        <key>ButtonSheet8_18.png</key>
        <dict>
            <key>frame</key>
            <string>{{383,173},{37,40}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{37,40}</string>
        </dict>
        <key>ButtonSheet8_19.png</key>
        <dict>
            <key>frame</key>
            <string>{{115,222},{135,82}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{135,82}</string>
        </dict>
        <key>ButtonSheet8_20.png</key>
        <dict>
            <key>frame</key>
            <string>{{14,233},{42,43}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{42,43}</string>
        </dict>
        <key>ButtonSheet8_21.png</key>
        <dict>
            <key>frame</key>
            <string>{{64,233},{42,43}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{42,43}</string>
        </dict>
        <key>ButtonSheet8_22.png</key>
        <dict>
            <key>frame</key>
            <string>{{269,235},{24,21}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{24,21}</string>
        </dict>
        <key>ButtonSheet8_23.png</key>
        <dict>
            <key>frame</key>
            <string>{{301,235},{32,52}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{32,52}</string>
        </dict>
        <key>ButtonSheet8_24.png</key>
        <dict>
            <key>frame</key>
            <string>{{340,236},{75,51}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{75,51}</string>
        </dict>
        <key>ButtonSheet8_25.png</key>
        <dict>
            <key>frame</key>
            <string>{{269,262},{24,25}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{24,25}</string>
        </dict>
        <key>ButtonSheet8_26.png</key>
        <dict>
            <key>frame</key>
            <string>{{13,304},{238,66}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{238,66}</string>
        </dict>
        <key>ButtonSheet8_27.png</key>
        <dict>
            <key>frame</key>
            <string>{{269,317},{150,52}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{150,52}</string>
        </dict>
        <key>ButtonSheet8_28.png</key>
        <dict>
            <key>frame</key>
            <string>{{302,374},{114,67}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{114,67}</string>
        </dict>
        <key>ButtonSheet8_29.png</key>
        <dict>
            <key>frame</key>
            <string>{{14,377},{59,31}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{59,31}</string>
        </dict>
        <key>ButtonSheet8_30.png</key>
        <dict>
            <key>frame</key>
            <string>{{198,380},{29,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,28}</string>
        </dict>
        <key>ButtonSheet8_31.png</key>
        <dict>
            <key>frame</key>
            <string>{{232,380},{29,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,28}</string>
        </dict>
        <key>ButtonSheet8_32.png</key>
        <dict>
            <key>frame</key>
            <string>{{266,380},{29,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,28}</string>
        </dict>
        <key>ButtonSheet8_33.png</key>
        <dict>
            <key>frame</key>
            <string>{{76,381},{113,18}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{113,18}</string>
        </dict>
        <key>ButtonSheet8_34.png</key>
        <dict>
            <key>frame</key>
            <string>{{12,419},{61,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,69}</string>
        </dict>
        <key>ButtonSheet8_35.png</key>
        <dict>
            <key>frame</key>
            <string>{{87,419},{60,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{60,69}</string>
        </dict>
        <key>ButtonSheet8_36.png</key>
        <dict>
            <key>frame</key>
            <string>{{161,419},{61,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,69}</string>
        </dict>
        <key>ButtonSheet8_37.png</key>
        <dict>
            <key>frame</key>
            <string>{{236,419},{61,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,69}</string>
        </dict>
        <key>ButtonSheet8_38.png</key>
        <dict>
            <key>frame</key>
            <string>{{328,462},{94,104}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,104}</string>
        </dict>
        <key>ButtonSheet8_39.png</key>
        <dict>
            <key>frame</key>
            <string>{{280,498},{20,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{20,17}</string>
        </dict>
        <key>ButtonSheet8_40.png</key>
        <dict>
            <key>frame</key>
            <string>{{15,522},{16,17}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{16,17}</string>
        </dict>
        <key>ButtonSheet8_41.png</key>
        <dict>
            <key>frame</key>
            <string>{{75,527},{92,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{92,36}</string>
        </dict>
        <key>ButtonSheet8_42.png</key>
        <dict>
            <key>frame</key>
            <string>{{184,527},{96,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{96,36}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ButtonSheet8.png</string>
        <key>size</key>
        <string>{432,578}</string>
        <key>textureFileName</key>
        <string>ButtonSheet8.png</string>
    </dict>
</dict>
</plist>