<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ButtonSheet5_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{51,23},{346,181}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{346,181}</string>
        </dict>
        <key>ButtonSheet5_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{513,33},{88,23}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{88,23}</string>
        </dict>
        <key>ButtonSheet5_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{742,33},{79,23}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{79,23}</string>
        </dict>
        <key>ButtonSheet5_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{563,53},{95,78}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{95,78}</string>
        </dict>
        <key>ButtonSheet5_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{470,63},{83,68}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,68}</string>
        </dict>
        <key>ButtonSheet5_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{694,63},{83,68}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,68}</string>
        </dict>
        <key>ButtonSheet5_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{786,63},{83,68}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,68}</string>
        </dict>
        <key>ButtonSheet5_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{491,137},{38,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{38,24}</string>
        </dict>
        <key>ButtonSheet5_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{580,137},{48,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{48,24}</string>
        </dict>
        <key>ButtonSheet5_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{716,137},{37,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{37,24}</string>
        </dict>
        <key>ButtonSheet5_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{804,137},{48,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{48,24}</string>
        </dict>
        <key>ButtonSheet5_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{460,166},{39,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{39,36}</string>
        </dict>
        <key>ButtonSheet5_12.png</key>
        <dict>
            <key>frame</key>
            <string>{{617,167},{38,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{38,35}</string>
        </dict>
        <key>ButtonSheet5_13.png</key>
        <dict>
            <key>frame</key>
            <string>{{851,169},{27,27}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{27,27}</string>
        </dict>
        <key>ButtonSheet5_14.png</key>
        <dict>
            <key>frame</key>
            <string>{{507,171},{105,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{105,24}</string>
        </dict>
        <key>ButtonSheet5_15.png</key>
        <dict>
            <key>frame</key>
            <string>{{713,172},{134,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{134,22}</string>
        </dict>
        <key>ButtonSheet5_16.png</key>
        <dict>
            <key>frame</key>
            <string>{{675,211},{207,26}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{207,26}</string>
        </dict>
        <key>ButtonSheet5_17.png</key>
        <dict>
            <key>frame</key>
            <string>{{490,212},{133,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{133,24}</string>
        </dict>
        <key>ButtonSheet5_18.png</key>
        <dict>
            <key>frame</key>
            <string>{{25,239},{94,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,93}</string>
        </dict>
        <key>ButtonSheet5_19.png</key>
        <dict>
            <key>frame</key>
            <string>{{129,239},{94,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,93}</string>
        </dict>
        <key>ButtonSheet5_20.png</key>
        <dict>
            <key>frame</key>
            <string>{{232,239},{94,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,93}</string>
        </dict>
        <key>ButtonSheet5_21.png</key>
        <dict>
            <key>frame</key>
            <string>{{334,239},{96,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{96,93}</string>
        </dict>
        <key>ButtonSheet5_22.png</key>
        <dict>
            <key>frame</key>
            <string>{{470,240},{83,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,69}</string>
        </dict>
        <key>ButtonSheet5_23.png</key>
        <dict>
            <key>frame</key>
            <string>{{562,240},{83,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,69}</string>
        </dict>
        <key>ButtonSheet5_24.png</key>
        <dict>
            <key>frame</key>
            <string>{{694,240},{83,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,69}</string>
        </dict>
        <key>ButtonSheet5_25.png</key>
        <dict>
            <key>frame</key>
            <string>{{786,240},{83,69}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{83,69}</string>
        </dict>
        <key>ButtonSheet5_26.png</key>
        <dict>
            <key>frame</key>
            <string>{{491,315},{38,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{38,24}</string>
        </dict>
        <key>ButtonSheet5_27.png</key>
        <dict>
            <key>frame</key>
            <string>{{580,315},{48,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{48,24}</string>
        </dict>
        <key>ButtonSheet5_28.png</key>
        <dict>
            <key>frame</key>
            <string>{{716,315},{37,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{37,24}</string>
        </dict>
        <key>ButtonSheet5_29.png</key>
        <dict>
            <key>frame</key>
            <string>{{804,315},{48,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{48,24}</string>
        </dict>
        <key>ButtonSheet5_30.png</key>
        <dict>
            <key>frame</key>
            <string>{{25,340},{95,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{95,93}</string>
        </dict>
        <key>ButtonSheet5_31.png</key>
        <dict>
            <key>frame</key>
            <string>{{129,340},{94,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,93}</string>
        </dict>
        <key>ButtonSheet5_32.png</key>
        <dict>
            <key>frame</key>
            <string>{{232,340},{94,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{94,93}</string>
        </dict>
        <key>ButtonSheet5_33.png</key>
        <dict>
            <key>frame</key>
            <string>{{335,340},{95,93}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{95,93}</string>
        </dict>
        <key>ButtonSheet5_34.png</key>
        <dict>
            <key>frame</key>
            <string>{{495,352},{119,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{119,19}</string>
        </dict>
        <key>ButtonSheet5_35.png</key>
        <dict>
            <key>frame</key>
            <string>{{469,376},{61,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,72}</string>
        </dict>
        <key>ButtonSheet5_36.png</key>
        <dict>
            <key>frame</key>
            <string>{{537,376},{61,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,72}</string>
        </dict>
        <key>ButtonSheet5_37.png</key>
        <dict>
            <key>frame</key>
            <string>{{605,376},{61,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,72}</string>
        </dict>
        <key>ButtonSheet5_38.png</key>
        <dict>
            <key>frame</key>
            <string>{{673,376},{60,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{60,72}</string>
        </dict>
        <key>ButtonSheet5_39.png</key>
        <dict>
            <key>frame</key>
            <string>{{740,376},{61,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,72}</string>
        </dict>
        <key>ButtonSheet5_40.png</key>
        <dict>
            <key>frame</key>
            <string>{{808,376},{61,72}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{61,72}</string>
        </dict>
        <key>ButtonSheet5_41.png</key>
        <dict>
            <key>frame</key>
            <string>{{241,460},{92,54}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{92,54}</string>
        </dict>
        <key>ButtonSheet5_42.png</key>
        <dict>
            <key>frame</key>
            <string>{{463,460},{52,54}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{52,54}</string>
        </dict>
        <key>ButtonSheet5_43.png</key>
        <dict>
            <key>frame</key>
            <string>{{335,463},{36,18}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{36,18}</string>
        </dict>
        <key>ButtonSheet5_44.png</key>
        <dict>
            <key>frame</key>
            <string>{{382,463},{43,18}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{43,18}</string>
        </dict>
        <key>ButtonSheet5_45.png</key>
        <dict>
            <key>frame</key>
            <string>{{426,463},{35,18}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{35,18}</string>
        </dict>
        <key>ButtonSheet5_46.png</key>
        <dict>
            <key>frame</key>
            <string>{{29,482},{89,91}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{89,91}</string>
        </dict>
        <key>ButtonSheet5_47.png</key>
        <dict>
            <key>frame</key>
            <string>{{132,482},{89,91}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{89,91}</string>
        </dict>
        <key>ButtonSheet5_48.png</key>
        <dict>
            <key>frame</key>
            <string>{{557,488},{50,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{50,44}</string>
        </dict>
        <key>ButtonSheet5_49.png</key>
        <dict>
            <key>frame</key>
            <string>{{625,488},{64,106}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{64,106}</string>
        </dict>
        <key>ButtonSheet5_50.png</key>
        <dict>
            <key>frame</key>
            <string>{{705,490},{155,104}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{155,104}</string>
        </dict>
        <key>ButtonSheet5_51.png</key>
        <dict>
            <key>frame</key>
            <string>{{298,491},{49,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{49,24}</string>
        </dict>
        <key>ButtonSheet5_52.png</key>
        <dict>
            <key>frame</key>
            <string>{{348,491},{112,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{112,24}</string>
        </dict>
        <key>ButtonSheet5_53.png</key>
        <dict>
            <key>frame</key>
            <string>{{239,518},{279,112}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{279,112}</string>
        </dict>
        <key>ButtonSheet5_54.png</key>
        <dict>
            <key>frame</key>
            <string>{{557,543},{51,51}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{51,51}</string>
        </dict>
        <key>ButtonSheet5_55.png</key>
        <dict>
            <key>frame</key>
            <string>{{86,577},{29,25}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,25}</string>
        </dict>
        <key>ButtonSheet5_56.png</key>
        <dict>
            <key>frame</key>
            <string>{{133,577},{90,25}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{90,25}</string>
        </dict>
        <key>ButtonSheet5_57.png</key>
        <dict>
            <key>frame</key>
            <string>{{36,580},{49,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{49,19}</string>
        </dict>
        <key>ButtonSheet5_58.png</key>
        <dict>
            <key>frame</key>
            <string>{{596,601},{53,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{53,24}</string>
        </dict>
        <key>ButtonSheet5_59.png</key>
        <dict>
            <key>frame</key>
            <string>{{714,601},{63,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{63,24}</string>
        </dict>
        <key>ButtonSheet5_60.png</key>
        <dict>
            <key>frame</key>
            <string>{{780,601},{56,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{56,24}</string>
        </dict>
        <key>ButtonSheet5_61.png</key>
        <dict>
            <key>frame</key>
            <string>{{26,630},{495,138}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{495,138}</string>
        </dict>
        <key>ButtonSheet5_62.png</key>
        <dict>
            <key>frame</key>
            <string>{{655,657},{117,24}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{117,24}</string>
        </dict>
        <key>ButtonSheet5_63.png</key>
        <dict>
            <key>frame</key>
            <string>{{557,685},{312,80}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{312,80}</string>
        </dict>
        <key>ButtonSheet5_64.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,775},{236,139}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{236,139}</string>
        </dict>
        <key>ButtonSheet5_65.png</key>
        <dict>
            <key>frame</key>
            <string>{{28,781},{123,65}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{123,65}</string>
        </dict>
        <key>ButtonSheet5_66.png</key>
        <dict>
            <key>frame</key>
            <string>{{411,788},{59,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{59,58}</string>
        </dict>
        <key>ButtonSheet5_67.png</key>
        <dict>
            <key>frame</key>
            <string>{{482,788},{59,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{59,58}</string>
        </dict>
        <key>ButtonSheet5_68.png</key>
        <dict>
            <key>frame</key>
            <string>{{552,788},{60,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{60,58}</string>
        </dict>
        <key>ButtonSheet5_69.png</key>
        <dict>
            <key>frame</key>
            <string>{{157,792},{236,34}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{236,34}</string>
        </dict>
        <key>ButtonSheet5_70.png</key>
        <dict>
            <key>frame</key>
            <string>{{25,871},{126,118}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{126,118}</string>
        </dict>
        <key>ButtonSheet5_71.png</key>
        <dict>
            <key>frame</key>
            <string>{{180,871},{125,119}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{125,119}</string>
        </dict>
        <key>ButtonSheet5_72.png</key>
        <dict>
            <key>frame</key>
            <string>{{335,871},{125,119}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{125,119}</string>
        </dict>
        <key>ButtonSheet5_73.png</key>
        <dict>
            <key>frame</key>
            <string>{{489,871},{126,118}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{126,118}</string>
        </dict>
        <key>ButtonSheet5_74.png</key>
        <dict>
            <key>frame</key>
            <string>{{680,959},{194,215}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{194,215}</string>
        </dict>
        <key>ButtonSheet5_75.png</key>
        <dict>
            <key>frame</key>
            <string>{{173,992},{140,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{140,22}</string>
        </dict>
        <key>ButtonSheet5_76.png</key>
        <dict>
            <key>frame</key>
            <string>{{60,993},{56,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{56,19}</string>
        </dict>
        <key>ButtonSheet5_77.png</key>
        <dict>
            <key>frame</key>
            <string>{{353,993},{89,19}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{89,19}</string>
        </dict>
        <key>ButtonSheet5_78.png</key>
        <dict>
            <key>frame</key>
            <string>{{528,993},{48,18}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{48,18}</string>
        </dict>
        <key>ButtonSheet5_79.png</key>
        <dict>
            <key>frame</key>
            <string>{{34,1032},{27,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{27,37}</string>
        </dict>
        <key>ButtonSheet5_80.png</key>
        <dict>
            <key>frame</key>
            <string>{{149,1032},{26,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{26,37}</string>
        </dict>
        <key>ButtonSheet5_81.png</key>
        <dict>
            <key>frame</key>
            <string>{{231,1032},{27,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{27,37}</string>
        </dict>
        <key>ButtonSheet5_82.png</key>
        <dict>
            <key>frame</key>
            <string>{{315,1032},{26,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{26,37}</string>
        </dict>
        <key>ButtonSheet5_83.png</key>
        <dict>
            <key>frame</key>
            <string>{{397,1032},{27,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{27,37}</string>
        </dict>
        <key>ButtonSheet5_84.png</key>
        <dict>
            <key>frame</key>
            <string>{{443,1032},{31,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{31,37}</string>
        </dict>
        <key>ButtonSheet5_85.png</key>
        <dict>
            <key>frame</key>
            <string>{{537,1032},{28,38}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{28,38}</string>
        </dict>
        <key>ButtonSheet5_86.png</key>
        <dict>
            <key>frame</key>
            <string>{{580,1032},{43,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{43,37}</string>
        </dict>
        <key>ButtonSheet5_87.png</key>
        <dict>
            <key>frame</key>
            <string>{{638,1032},{29,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{29,37}</string>
        </dict>
        <key>ButtonSheet5_88.png</key>
        <dict>
            <key>frame</key>
            <string>{{110,1033},{26,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{26,36}</string>
        </dict>
        <key>ButtonSheet5_89.png</key>
        <dict>
            <key>frame</key>
            <string>{{190,1033},{26,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{26,36}</string>
        </dict>
        <key>ButtonSheet5_90.png</key>
        <dict>
            <key>frame</key>
            <string>{{273,1033},{26,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{26,36}</string>
        </dict>
        <key>ButtonSheet5_91.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,1033},{26,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{26,36}</string>
        </dict>
        <key>ButtonSheet5_92.png</key>
        <dict>
            <key>frame</key>
            <string>{{489,1033},{30,37}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{30,37}</string>
        </dict>
        <key>ButtonSheet5_93.png</key>
        <dict>
            <key>frame</key>
            <string>{{30,1083},{34,35}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{34,35}</string>
        </dict>
        <key>ButtonSheet5_94.png</key>
        <dict>
            <key>frame</key>
            <string>{{156,1094},{190,73}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{190,73}</string>
        </dict>
        <key>ButtonSheet5_95.png</key>
        <dict>
            <key>frame</key>
            <string>{{381,1094},{200,73}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{200,73}</string>
        </dict>
        <key>ButtonSheet5_96.png</key>
        <dict>
            <key>frame</key>
            <string>{{35,1130},{25,39}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{25,39}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ButtonSheet5.png</string>
        <key>size</key>
        <string>{896,1199}</string>
        <key>textureFileName</key>
        <string>ButtonSheet5.png</string>
    </dict>
</dict>
</plist>